# Dependencias
node_modules/

# Builds
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env (claves / config local)
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db
